body {
  /*background-image: url("../images/background.jpg");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#221a9f, #31d5ff);
}

.tempByHour {
  width: 100%;
  display: inline-flex;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: aquamarine;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

.information {
  background: aquamarine;
  color: black;
}

.transparent {
  background: transparent;
}

.fonts {
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
}

.margin {
  margin: 0.5%;
}
.icons {
  width: 100%;
  height: 20%;
}

.sun {
  width: 50%;
  height: 30%;
}

.grid {
  margin: 0.5%;
  text-align: center;
  border: 1px solid white;
  padding: 1%;
}

.hour {
  text-align: center;
  padding: 2%;
  margin: 1%;
  border-right: 1px solid white;
}

.day {
  border-top: 1px solid white;
  width: 100%;
}

.departure, .destination {
  display: none;
}

.flex-even {
  flex: 1;
}

.height {
  height: 40vh;
}

.low {
  position: absolute;
  bottom: 10%;
  left: 0%;
}
.medium {
  position: absolute;
  bottom: 20%;
  left: 0%;
}
.high {
  position: absolute;
  bottom: 30%;
  left: 0%;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: relative;
  left: 50%;
  margin-left: -40px;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 300px) {
  .fonts {
    font-size: 12px;
  }
}
